<Configuration>
<Paths>
<HomeDirectory>/home/atulag/</HomeDirectory>
<IPListFile>export/mapReduce/ipList.txt</IPListFile>
<NodeInfoFile>export/mapReduce/nodesInfo.xml</NodeInfoFile>
<ChunkMapFile>export/mapReduce/chunkMap.xml</ChunkMapFile>
<MountDirectory>mpidata/</MountDirectory>
<LogDirectory>logs/</LogDirectory>
</Paths>
<Parameters>
<ChunkSize>1024</ChunkSize>
<Cluster>0</Cluster>
</Parameters>
</Configuration>
