<Configuration>
<Paths>
<HomeDirectory>/home/atulag/</HomeDirectory>
<ExportDirectory>export/</ExportDirectory>
    
<IPListFile>mapReduce/ipList.txt</IPListFile>
<NodeInfoFile>mapReduce/nodesInfo.xml</NodeInfoFile>
<ChunkMapFile>mapReduce/chunkMap.xml</ChunkMapFile>
<KeyValueDirectory>mapReduce/keyValue/</KeyValueDirectory>
<OutputFile>outfile</OutputFile>
    
<MountDirectory>mpidata/</MountDirectory>
<LogDirectory>logs/</LogDirectory>
</Paths>

<Parameters>
<ChunkSize>1024</ChunkSize>
<Cluster>0</Cluster>
</Parameters>
</Configuration>
